<nav class="mobile-bottom-nav" id="mobile-bottom-nav">
  <a href="./index.html" data-view="home" class="mobile-nav-item {{#if isHome}}active{{/if}}">
    <span class="material-symbols-outlined">home</span>
    <span class="mobile-nav-label" data-i18n>Home</span>
  </a>
  <a href="./search.html" data-view="search" class="mobile-nav-item {{#if isSearch}}active{{/if}}">
    <span class="material-symbols-outlined">search</span>
    <span class="mobile-nav-label" data-i18n>Search</span>
  </a>
  <a href="./playlists.html" data-view="playlists" class="mobile-nav-item {{#if isPlaylists}}active{{/if}}">
    <span class="material-symbols-outlined">queue_music</span>
    <span class="mobile-nav-label" data-i18n>Playlists</span>
  </a>
  <a href="./podcasts.html" data-view="podcasts" class="mobile-nav-item {{#if isPodcasts}}active{{/if}}">
    <span class="material-symbols-outlined">podcasts</span>
    <span class="mobile-nav-label" data-i18n>Podcasts</span>
  </a>
</nav>
