<aside class="main-sidebar" id="main-sidebar">

  <ul class="nav-menu">
    <li class="nav-item {{#if isHome}}active{{/if}}">
      <a href="./index.html" data-view="home">
        <span class="material-symbols-outlined">home</span>
        <span data-i18n>Home</span>
      </a>
    </li>
    <li class="nav-item {{#if isAlbums}}active{{/if}}">
      <a href="./albums.html" data-view="albums">
        <span class="material-symbols-outlined">album</span>
        <span data-i18n>Albums</span>
      </a>
    </li>
    <li class="nav-item {{#if isArtists}}active{{/if}}">
      <a href="./artists.html" data-view="artists">
        <span class="material-symbols-outlined">artist</span>
        <span data-i18n>Artists</span>
      </a>
    </li>
    <li class="nav-item {{#if isPlaylists}}active{{/if}}">
      <a href="./playlists.html" data-view="playlists">
        <span class="material-symbols-outlined">queue_music</span>
        <span data-i18n>Playlists</span>
      </a>
    </li>
    <li class="nav-item {{#if isPodcasts}}active{{/if}}">
      <a href="./podcasts.html" data-view="podcasts">
        <span class="material-symbols-outlined">podcasts</span>
        <span data-i18n>Podcasts</span>
      </a>
    </li>
  </ul>
</aside>
