<aside class="main-sidebar" id="main-sidebar">
  <!-- Expanded Navigation Drawer -->
  <div class="sidebar-drawer" id="main-sidebar-drawer">
    <div class="sidebar-menu-list">
      <md-navigation-drawer-item
        label="Home"
        data-i18n-label="Home"
        data-view="home"
        value="home"
        href="./index.html"
        {{#if isHome}}active selected{{/if}}
      >
        <md-icon slot="icon" name="home" {{#if isHome}}filled{{/if}}></md-icon>
      </md-navigation-drawer-item>

      <md-navigation-drawer-item
        label="Albums"
        data-i18n-label="Albums"
        data-view="albums"
        value="albums"
        href="./albums.html"
        {{#if isAlbums}}active selected{{/if}}
      >
        <md-icon slot="icon" name="album" {{#if isAlbums}}filled{{/if}}></md-icon>
      </md-navigation-drawer-item>

      <md-navigation-drawer-item
        label="Artists"
        data-i18n-label="Artists"
        data-view="artists"
        value="artists"
        href="./artists.html"
        {{#if isArtists}}active selected{{/if}}
      >
        <md-icon slot="icon" name="artist" {{#if isArtists}}filled{{/if}}></md-icon>
      </md-navigation-drawer-item>

      <md-navigation-drawer-item
        label="Playlists"
        data-i18n-label="Playlists"
        data-view="playlists"
        value="playlists"
        href="./playlists.html"
        {{#if isPlaylists}}active selected{{/if}}
      >
        <md-icon slot="icon" name="queue_music" {{#if isPlaylists}}filled{{/if}}></md-icon>
      </md-navigation-drawer-item>

      <md-navigation-drawer-item
        label="Downloads"
        data-i18n-label="Downloads"
        data-view="downloads"
        value="downloads"
        href="./downloads.html"
        {{#if isDownloads}}active selected{{/if}}
      >
        <md-icon slot="icon" name="download" {{#if isDownloads}}filled{{/if}}></md-icon>
      </md-navigation-drawer-item>

      <md-navigation-drawer-item
        label="Podcasts"
        data-i18n-label="Podcasts"
        data-view="podcasts"
        value="podcasts"
        href="./podcasts.html"
        {{#if isPodcasts}}active selected{{/if}}
      >
        <md-icon slot="icon" name="podcasts" {{#if isPodcasts}}filled{{/if}}></md-icon>
      </md-navigation-drawer-item>
    </div>
  </div>

  <!-- Retracted Navigation Rail -->
  <md-navigation-rail
    class="sidebar-rail"
    id="main-sidebar-rail"
    alignment="top"
    aria-label="Navigation rail"
  >
    <md-navigation-rail-item
      label="Home"
      data-i18n-label="Home"
      data-view="home"
      value="home"
      href="./index.html"
      {{#if isHome}}active selected{{/if}}
    >
      <md-icon slot="icon" name="home" {{#if isHome}}filled{{/if}}></md-icon>
      <span class="label" data-i18n>Home</span>
    </md-navigation-rail-item>

    <md-navigation-rail-item
      label="Albums"
      data-i18n-label="Albums"
      data-view="albums"
      value="albums"
      href="./albums.html"
      {{#if isAlbums}}active selected{{/if}}
    >
      <md-icon slot="icon" name="album" {{#if isAlbums}}filled{{/if}}></md-icon>
      <span class="label" data-i18n>Albums</span>
    </md-navigation-rail-item>

    <md-navigation-rail-item
      label="Artists"
      data-i18n-label="Artists"
      data-view="artists"
      value="artists"
      href="./artists.html"
      {{#if isArtists}}active selected{{/if}}
    >
      <md-icon slot="icon" name="artist" {{#if isArtists}}filled{{/if}}></md-icon>
      <span class="label" data-i18n>Artists</span>
    </md-navigation-rail-item>

    <md-navigation-rail-item
      label="Playlists"
      data-i18n-label="Playlists"
      data-view="playlists"
      value="playlists"
      href="./playlists.html"
      {{#if isPlaylists}}active selected{{/if}}
    >
      <md-icon slot="icon" name="queue_music" {{#if isPlaylists}}filled{{/if}}></md-icon>
      <span class="label" data-i18n>Playlists</span>
    </md-navigation-rail-item>

    <md-navigation-rail-item
      label="Downloads"
      data-i18n-label="Downloads"
      data-view="downloads"
      value="downloads"
      href="./downloads.html"
      {{#if isDownloads}}active selected{{/if}}
    >
      <md-icon slot="icon" name="download" {{#if isDownloads}}filled{{/if}}></md-icon>
      <span class="label" data-i18n>Downloads</span>
    </md-navigation-rail-item>

    <md-navigation-rail-item
      label="Podcasts"
      data-i18n-label="Podcasts"
      data-view="podcasts"
      value="podcasts"
      href="./podcasts.html"
      {{#if isPodcasts}}active selected{{/if}}
    >
      <md-icon slot="icon" name="podcasts" {{#if isPodcasts}}filled{{/if}}></md-icon>
      <span class="label" data-i18n>Podcasts</span>
    </md-navigation-rail-item>
  </md-navigation-rail>
</aside>
